DG_ScoreCard/DG_ScoreCard/Service References/DGserviceReference/DGservice2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFwebserviceDG" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFwebserviceDG" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54097/DGservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOflogin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="login" nillable="true" type="tns:login" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOflogin" nillable="true" type="tns:ArrayOflogin" />
  <xs:complexType name="login">
    <xs:sequence>
      <xs:element minOccurs="0" name="user_active" type="ser:char" />
      <xs:element minOccurs="0" name="user_cstring" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="login" nillable="true" type="tns:login" />
</xs:schema>