DG_ScoreCard/DG_ScoreCard/Service References/DGserviceReference/DGservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DGservice" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54097/DGservice.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54097/DGservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54097/DGservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFwebserviceDG" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDGservice_getUserID_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserID" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getUserID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:insertLocation" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getLocID_InputMessage">
    <wsdl:part name="parameters" element="tns:getLocID" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getLocID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLocIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:insertUser" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_checkUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:checkUsername" />
  </wsdl:message>
  <wsdl:message name="IDGservice_checkUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_checkLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:checkLocation" />
  </wsdl:message>
  <wsdl:message name="IDGservice_checkLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_returnCstringLists_InputMessage">
    <wsdl:part name="parameters" element="tns:returnCstringLists" />
  </wsdl:message>
  <wsdl:message name="IDGservice_returnCstringLists_OutputMessage">
    <wsdl:part name="parameters" element="tns:returnCstringListsResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:insertCourse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getCourseID_InputMessage">
    <wsdl:part name="parameters" element="tns:getCourseID" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getCourseID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCourseIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getCourseID2_InputMessage">
    <wsdl:part name="parameters" element="tns:getCourseID2" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getCourseID2_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCourseID2Response" />
  </wsdl:message>
  <wsdl:message name="IDGservice_checkCourseUserExists_InputMessage">
    <wsdl:part name="parameters" element="tns:checkCourseUserExists" />
  </wsdl:message>
  <wsdl:message name="IDGservice_checkCourseUserExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkCourseUserExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertPark_InputMessage">
    <wsdl:part name="parameters" element="tns:insertPark" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertPark_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertParkResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_parkExist_InputMessage">
    <wsdl:part name="parameters" element="tns:parkExist" />
  </wsdl:message>
  <wsdl:message name="IDGservice_parkExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:parkExistResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getParkId_InputMessage">
    <wsdl:part name="parameters" element="tns:getParkId" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getParkId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getParkIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getHole_InputMessage">
    <wsdl:part name="parameters" element="tns:getHole" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getHole_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHoleResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertHole_InputMessage">
    <wsdl:part name="parameters" element="tns:insertHole" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertHole_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertHoleResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertHoleInput_InputMessage">
    <wsdl:part name="parameters" element="tns:insertHoleInput" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertHoleInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertHoleInputResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertBasket_InputMessage">
    <wsdl:part name="parameters" element="tns:insertBasket" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertBasket_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertBasketResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertBasketInput_InputMessage">
    <wsdl:part name="parameters" element="tns:insertBasketInput" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertBasketInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertBasketInputResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_basketExists_InputMessage">
    <wsdl:part name="parameters" element="tns:basketExists" />
  </wsdl:message>
  <wsdl:message name="IDGservice_basketExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:basketExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getBasketID_InputMessage">
    <wsdl:part name="parameters" element="tns:getBasketID" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getBasketID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBasketIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertTee_InputMessage">
    <wsdl:part name="parameters" element="tns:insertTee" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertTee_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertTeeResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertTeeInput_InputMessage">
    <wsdl:part name="parameters" element="tns:insertTeeInput" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertTeeInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertTeeInputResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_teeExists_InputMessage">
    <wsdl:part name="parameters" element="tns:teeExists" />
  </wsdl:message>
  <wsdl:message name="IDGservice_teeExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:teeExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getTeeID_InputMessage">
    <wsdl:part name="parameters" element="tns:getTeeID" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getTeeID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTeeIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertMisc_InputMessage">
    <wsdl:part name="parameters" element="tns:insertMisc" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertMisc_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertMiscResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertMiscInput_InputMessage">
    <wsdl:part name="parameters" element="tns:insertMiscInput" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertMiscInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertMiscInputResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_miscExists_InputMessage">
    <wsdl:part name="parameters" element="tns:miscExists" />
  </wsdl:message>
  <wsdl:message name="IDGservice_miscExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:miscExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getMiscID_InputMessage">
    <wsdl:part name="parameters" element="tns:getMiscID" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getMiscID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMiscIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertHoleLines_InputMessage">
    <wsdl:part name="parameters" element="tns:insertHoleLines" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertHoleLines_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertHoleLinesResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertHoleLinesInput_InputMessage">
    <wsdl:part name="parameters" element="tns:insertHoleLinesInput" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertHoleLinesInput_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertHoleLinesInputResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_holelinesExists_InputMessage">
    <wsdl:part name="parameters" element="tns:holelinesExists" />
  </wsdl:message>
  <wsdl:message name="IDGservice_holelinesExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:holelinesExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getHoleLinesID_InputMessage">
    <wsdl:part name="parameters" element="tns:getHoleLinesID" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getHoleLinesID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHoleLinesIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getMyCourseList_InputMessage">
    <wsdl:part name="parameters" element="tns:getMyCourseList" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getMyCourseList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMyCourseListResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getParkLoc_InputMessage">
    <wsdl:part name="parameters" element="tns:getParkLoc" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getParkLoc_OutputMessage">
    <wsdl:part name="parameters" element="tns:getParkLocResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:getCourse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getPark_InputMessage">
    <wsdl:part name="parameters" element="tns:getPark" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getPark_OutputMessage">
    <wsdl:part name="parameters" element="tns:getParkResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getCourseViewCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:getCourseViewCourse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getCourseViewCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCourseViewCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getCourseViewHoles_InputMessage">
    <wsdl:part name="parameters" element="tns:getCourseViewHoles" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getCourseViewHoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCourseViewHolesResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getCourseDistinctHoleColors_InputMessage">
    <wsdl:part name="parameters" element="tns:getCourseDistinctHoleColors" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getCourseDistinctHoleColors_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCourseDistinctHoleColorsResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_Load_Course_Store_Prod_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_Course_Store_Prod" />
  </wsdl:message>
  <wsdl:message name="IDGservice_Load_Course_Store_Prod_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_Course_Store_ProdResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_Load_Holes_Stored_Proc_InputMessage">
    <wsdl:part name="parameters" element="tns:Load_Holes_Stored_Proc" />
  </wsdl:message>
  <wsdl:message name="IDGservice_Load_Holes_Stored_Proc_OutputMessage">
    <wsdl:part name="parameters" element="tns:Load_Holes_Stored_ProcResponse" />
  </wsdl:message>
  <wsdl:portType name="IDGservice">
    <wsdl:operation name="getUserID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/getUserID" message="tns:IDGservice_getUserID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/getUserIDResponse" message="tns:IDGservice_getUserID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/insertLocation" message="tns:IDGservice_insertLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/insertLocationResponse" message="tns:IDGservice_insertLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLocID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/getLocID" message="tns:IDGservice_getLocID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/getLocIDResponse" message="tns:IDGservice_getLocID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/insertUser" message="tns:IDGservice_insertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/insertUserResponse" message="tns:IDGservice_insertUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/checkUsername" message="tns:IDGservice_checkUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/checkUsernameResponse" message="tns:IDGservice_checkUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/checkLocation" message="tns:IDGservice_checkLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/checkLocationResponse" message="tns:IDGservice_checkLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="returnCstringLists">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/returnCstringLists" message="tns:IDGservice_returnCstringLists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/returnCstringListsResponse" message="tns:IDGservice_returnCstringLists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/insertCourse" message="tns:IDGservice_insertCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/insertCourseResponse" message="tns:IDGservice_insertCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCourseID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/getCourseID" message="tns:IDGservice_getCourseID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/getCourseIDResponse" message="tns:IDGservice_getCourseID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCourseID2">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/getCourseID2" message="tns:IDGservice_getCourseID2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/getCourseID2Response" message="tns:IDGservice_getCourseID2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkCourseUserExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/checkCourseUserExists" message="tns:IDGservice_checkCourseUserExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/checkCourseUserExistsResponse" message="tns:IDGservice_checkCourseUserExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertPark">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/insertPark" message="tns:IDGservice_insertPark_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/insertParkResponse" message="tns:IDGservice_insertPark_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="parkExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/parkExist" message="tns:IDGservice_parkExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/parkExistResponse" message="tns:IDGservice_parkExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getParkId">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/getParkId" message="tns:IDGservice_getParkId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/getParkIdResponse" message="tns:IDGservice_getParkId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHole">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/getHole" message="tns:IDGservice_getHole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/getHoleResponse" message="tns:IDGservice_getHole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertHole">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/insertHole" message="tns:IDGservice_insertHole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/insertHoleResponse" message="tns:IDGservice_insertHole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertHoleInput">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/insertHoleInput" message="tns:IDGservice_insertHoleInput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/insertHoleInputResponse" message="tns:IDGservice_insertHoleInput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertBasket">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/insertBasket" message="tns:IDGservice_insertBasket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/insertBasketResponse" message="tns:IDGservice_insertBasket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertBasketInput">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/insertBasketInput" message="tns:IDGservice_insertBasketInput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/insertBasketInputResponse" message="tns:IDGservice_insertBasketInput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="basketExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/basketExists" message="tns:IDGservice_basketExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/basketExistsResponse" message="tns:IDGservice_basketExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBasketID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/getBasketID" message="tns:IDGservice_getBasketID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/getBasketIDResponse" message="tns:IDGservice_getBasketID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertTee">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/insertTee" message="tns:IDGservice_insertTee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/insertTeeResponse" message="tns:IDGservice_insertTee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertTeeInput">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/insertTeeInput" message="tns:IDGservice_insertTeeInput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/insertTeeInputResponse" message="tns:IDGservice_insertTeeInput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="teeExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/teeExists" message="tns:IDGservice_teeExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/teeExistsResponse" message="tns:IDGservice_teeExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTeeID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/getTeeID" message="tns:IDGservice_getTeeID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/getTeeIDResponse" message="tns:IDGservice_getTeeID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertMisc">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/insertMisc" message="tns:IDGservice_insertMisc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/insertMiscResponse" message="tns:IDGservice_insertMisc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertMiscInput">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/insertMiscInput" message="tns:IDGservice_insertMiscInput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/insertMiscInputResponse" message="tns:IDGservice_insertMiscInput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="miscExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/miscExists" message="tns:IDGservice_miscExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/miscExistsResponse" message="tns:IDGservice_miscExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMiscID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/getMiscID" message="tns:IDGservice_getMiscID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/getMiscIDResponse" message="tns:IDGservice_getMiscID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertHoleLines">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/insertHoleLines" message="tns:IDGservice_insertHoleLines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/insertHoleLinesResponse" message="tns:IDGservice_insertHoleLines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertHoleLinesInput">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/insertHoleLinesInput" message="tns:IDGservice_insertHoleLinesInput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/insertHoleLinesInputResponse" message="tns:IDGservice_insertHoleLinesInput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="holelinesExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/holelinesExists" message="tns:IDGservice_holelinesExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/holelinesExistsResponse" message="tns:IDGservice_holelinesExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHoleLinesID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/getHoleLinesID" message="tns:IDGservice_getHoleLinesID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/getHoleLinesIDResponse" message="tns:IDGservice_getHoleLinesID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMyCourseList">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/getMyCourseList" message="tns:IDGservice_getMyCourseList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/getMyCourseListResponse" message="tns:IDGservice_getMyCourseList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getParkLoc">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/getParkLoc" message="tns:IDGservice_getParkLoc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/getParkLocResponse" message="tns:IDGservice_getParkLoc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/getCourse" message="tns:IDGservice_getCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/getCourseResponse" message="tns:IDGservice_getCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPark">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/getPark" message="tns:IDGservice_getPark_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/getParkResponse" message="tns:IDGservice_getPark_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCourseViewCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/getCourseViewCourse" message="tns:IDGservice_getCourseViewCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/getCourseViewCourseResponse" message="tns:IDGservice_getCourseViewCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCourseViewHoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/getCourseViewHoles" message="tns:IDGservice_getCourseViewHoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/getCourseViewHolesResponse" message="tns:IDGservice_getCourseViewHoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCourseDistinctHoleColors">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/getCourseDistinctHoleColors" message="tns:IDGservice_getCourseDistinctHoleColors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/getCourseDistinctHoleColorsResponse" message="tns:IDGservice_getCourseDistinctHoleColors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_Course_Store_Prod">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/Load_Course_Store_Prod" message="tns:IDGservice_Load_Course_Store_Prod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/Load_Course_Store_ProdResponse" message="tns:IDGservice_Load_Course_Store_Prod_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load_Holes_Stored_Proc">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/Load_Holes_Stored_Proc" message="tns:IDGservice_Load_Holes_Stored_Proc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/Load_Holes_Stored_ProcResponse" message="tns:IDGservice_Load_Holes_Stored_Proc_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDGservice" type="tns:IDGservice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getUserID">
      <soap:operation soapAction="http://tempuri.org/IDGservice/getUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertLocation">
      <soap:operation soapAction="http://tempuri.org/IDGservice/insertLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLocID">
      <soap:operation soapAction="http://tempuri.org/IDGservice/getLocID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertUser">
      <soap:operation soapAction="http://tempuri.org/IDGservice/insertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkUsername">
      <soap:operation soapAction="http://tempuri.org/IDGservice/checkUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkLocation">
      <soap:operation soapAction="http://tempuri.org/IDGservice/checkLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="returnCstringLists">
      <soap:operation soapAction="http://tempuri.org/IDGservice/returnCstringLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertCourse">
      <soap:operation soapAction="http://tempuri.org/IDGservice/insertCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCourseID">
      <soap:operation soapAction="http://tempuri.org/IDGservice/getCourseID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCourseID2">
      <soap:operation soapAction="http://tempuri.org/IDGservice/getCourseID2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkCourseUserExists">
      <soap:operation soapAction="http://tempuri.org/IDGservice/checkCourseUserExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertPark">
      <soap:operation soapAction="http://tempuri.org/IDGservice/insertPark" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="parkExist">
      <soap:operation soapAction="http://tempuri.org/IDGservice/parkExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParkId">
      <soap:operation soapAction="http://tempuri.org/IDGservice/getParkId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHole">
      <soap:operation soapAction="http://tempuri.org/IDGservice/getHole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertHole">
      <soap:operation soapAction="http://tempuri.org/IDGservice/insertHole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertHoleInput">
      <soap:operation soapAction="http://tempuri.org/IDGservice/insertHoleInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertBasket">
      <soap:operation soapAction="http://tempuri.org/IDGservice/insertBasket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertBasketInput">
      <soap:operation soapAction="http://tempuri.org/IDGservice/insertBasketInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="basketExists">
      <soap:operation soapAction="http://tempuri.org/IDGservice/basketExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBasketID">
      <soap:operation soapAction="http://tempuri.org/IDGservice/getBasketID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTee">
      <soap:operation soapAction="http://tempuri.org/IDGservice/insertTee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertTeeInput">
      <soap:operation soapAction="http://tempuri.org/IDGservice/insertTeeInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="teeExists">
      <soap:operation soapAction="http://tempuri.org/IDGservice/teeExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTeeID">
      <soap:operation soapAction="http://tempuri.org/IDGservice/getTeeID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertMisc">
      <soap:operation soapAction="http://tempuri.org/IDGservice/insertMisc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertMiscInput">
      <soap:operation soapAction="http://tempuri.org/IDGservice/insertMiscInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="miscExists">
      <soap:operation soapAction="http://tempuri.org/IDGservice/miscExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMiscID">
      <soap:operation soapAction="http://tempuri.org/IDGservice/getMiscID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertHoleLines">
      <soap:operation soapAction="http://tempuri.org/IDGservice/insertHoleLines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertHoleLinesInput">
      <soap:operation soapAction="http://tempuri.org/IDGservice/insertHoleLinesInput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="holelinesExists">
      <soap:operation soapAction="http://tempuri.org/IDGservice/holelinesExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHoleLinesID">
      <soap:operation soapAction="http://tempuri.org/IDGservice/getHoleLinesID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMyCourseList">
      <soap:operation soapAction="http://tempuri.org/IDGservice/getMyCourseList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParkLoc">
      <soap:operation soapAction="http://tempuri.org/IDGservice/getParkLoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCourse">
      <soap:operation soapAction="http://tempuri.org/IDGservice/getCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPark">
      <soap:operation soapAction="http://tempuri.org/IDGservice/getPark" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCourseViewCourse">
      <soap:operation soapAction="http://tempuri.org/IDGservice/getCourseViewCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCourseViewHoles">
      <soap:operation soapAction="http://tempuri.org/IDGservice/getCourseViewHoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCourseDistinctHoleColors">
      <soap:operation soapAction="http://tempuri.org/IDGservice/getCourseDistinctHoleColors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_Course_Store_Prod">
      <soap:operation soapAction="http://tempuri.org/IDGservice/Load_Course_Store_Prod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load_Holes_Stored_Proc">
      <soap:operation soapAction="http://tempuri.org/IDGservice/Load_Holes_Stored_Proc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DGservice">
    <wsdl:port name="BasicHttpBinding_IDGservice" binding="tns:BasicHttpBinding_IDGservice">
      <soap:address location="http://localhost:54097/DGservice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>