DG_ScoreCard/DG_ScoreCard/Service References/DGserviceReference/DGservice2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFwebserviceDG" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFwebserviceDG" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54097/DGservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOflogin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="login" nillable="true" type="tns:login" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOflogin" nillable="true" type="tns:ArrayOflogin" />
  <xs:complexType name="login">
    <xs:sequence>
      <xs:element minOccurs="0" name="user_active" type="ser:char" />
      <xs:element minOccurs="0" name="user_cstring" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="login" nillable="true" type="tns:login" />
  <xs:complexType name="holeLib">
    <xs:sequence>
      <xs:element minOccurs="0" name="b_deduction" type="xs:int" />
      <xs:element minOccurs="0" name="b_letter" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="b_note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="h_hazzards" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="h_mando" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="h_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="h_num" type="xs:int" />
      <xs:element minOccurs="0" name="h_par" type="xs:int" />
      <xs:element minOccurs="0" name="h_unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="h_yardage" type="xs:int" />
      <xs:element minOccurs="0" name="m_general_comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_guide" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_road" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="m_trail" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="m_trash" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="r_disc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="r_shots" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="t_color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="t_notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="t_pad_type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="holeLib" nillable="true" type="tns:holeLib" />
  <xs:complexType name="ArrayOfholeLib">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="holeLib" nillable="true" type="tns:holeLib" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfholeLib" nillable="true" type="tns:ArrayOfholeLib" />
  <xs:complexType name="ArrayOfcourselist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="courselist" nillable="true" type="tns:courselist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcourselist" nillable="true" type="tns:ArrayOfcourselist" />
  <xs:complexType name="courselist">
    <xs:sequence>
      <xs:element minOccurs="0" name="c_id" type="xs:int" />
      <xs:element minOccurs="0" name="c_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="courselist" nillable="true" type="tns:courselist" />
</xs:schema>