DG_ScoreCard/DG_ScoreCard/Service References/DGserviceReference/DGservice2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFwebserviceDG" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFwebserviceDG" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54097/DGservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOflogin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="login" nillable="true" type="tns:login" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOflogin" nillable="true" type="tns:ArrayOflogin" />
  <xs:complexType name="login">
    <xs:sequence>
      <xs:element minOccurs="0" name="user_active" type="ser:char" />
      <xs:element minOccurs="0" name="user_cstring" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="login" nillable="true" type="tns:login" />
  <xs:complexType name="holeLib">
    <xs:sequence>
      <xs:element minOccurs="0" name="b_deduction" type="xs:int" />
      <xs:element minOccurs="0" name="b_letter" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="b_note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="h_hazzards" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="h_mando" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="h_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="h_num" type="xs:int" />
      <xs:element minOccurs="0" name="h_par" type="xs:int" />
      <xs:element minOccurs="0" name="h_unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="h_yardage" type="xs:int" />
      <xs:element minOccurs="0" name="m_general_comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_guide" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_road" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="m_trail" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="m_trash" nillable="true" type="ser:char" />
      <xs:element minOccurs="0" name="r_disc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="r_shots" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="t_color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="t_notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="t_pad_type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="holeLib" nillable="true" type="tns:holeLib" />
  <xs:complexType name="ArrayOfcourselist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="courselist" nillable="true" type="tns:courselist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcourselist" nillable="true" type="tns:ArrayOfcourselist" />
  <xs:complexType name="courselist">
    <xs:sequence>
      <xs:element minOccurs="0" name="c_id" type="xs:int" />
      <xs:element minOccurs="0" name="c_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="courselist" nillable="true" type="tns:courselist" />
  <xs:complexType name="location">
    <xs:sequence>
      <xs:element minOccurs="0" name="l_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="l_city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="l_country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="l_state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="l_zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="location" nillable="true" type="tns:location" />
  <xs:complexType name="course">
    <xs:sequence>
      <xs:element minOccurs="0" name="c_basket_manu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="c_basket_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="c_design" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="c_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="c_has_guide" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="c_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="c_pay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="c_phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="c_pri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="c_tee_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="c_terrain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="c_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="c_website" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="c_year_est" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="course" nillable="true" type="tns:course" />
  <xs:complexType name="park">
    <xs:sequence>
      <xs:element minOccurs="0" name="p_has_guides" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_hours_high" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_hours_low" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_pet_friendly" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="p_private" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="park" nillable="true" type="tns:park" />
  <xs:complexType name="ArrayOfcourse_view_course">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="course_view_course" nillable="true" type="tns:course_view_course" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcourse_view_course" nillable="true" type="tns:ArrayOfcourse_view_course" />
  <xs:complexType name="course_view_course">
    <xs:sequence>
      <xs:element minOccurs="0" name="h_color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="h_count" type="xs:int" />
      <xs:element minOccurs="0" name="h_par" type="xs:int" />
      <xs:element minOccurs="0" name="h_yardage" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="course_view_course" nillable="true" type="tns:course_view_course" />
  <xs:complexType name="ArrayOfcourse_view_holes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="course_view_holes" nillable="true" type="tns:course_view_holes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcourse_view_holes" nillable="true" type="tns:ArrayOfcourse_view_holes" />
  <xs:complexType name="course_view_holes">
    <xs:sequence>
      <xs:element minOccurs="0" name="b_letter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="h_num" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="h_par" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="h_yard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="t_color" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="course_view_holes" nillable="true" type="tns:course_view_holes" />
  <xs:complexType name="ArrayOfcombobox_item_string">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="combobox_item_string" nillable="true" type="tns:combobox_item_string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcombobox_item_string" nillable="true" type="tns:ArrayOfcombobox_item_string" />
  <xs:complexType name="combobox_item_string">
    <xs:sequence>
      <xs:element minOccurs="0" name="v_string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="combobox_item_string" nillable="true" type="tns:combobox_item_string" />
</xs:schema>