DG_ScoreCard/DG_ScoreCard/Service References/DGserviceReference/DGservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DGservice" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54097/DGservice.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54097/DGservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54097/DGservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFwebserviceDG" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDGservice_getUserID_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserID" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getUserID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:insertLocation" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:insertUser" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertUserResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_checkUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:checkUsername" />
  </wsdl:message>
  <wsdl:message name="IDGservice_checkUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_checkLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:checkLocation" />
  </wsdl:message>
  <wsdl:message name="IDGservice_checkLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_returnCstringLists_InputMessage">
    <wsdl:part name="parameters" element="tns:returnCstringLists" />
  </wsdl:message>
  <wsdl:message name="IDGservice_returnCstringLists_OutputMessage">
    <wsdl:part name="parameters" element="tns:returnCstringListsResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:insertCourse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertPark_InputMessage">
    <wsdl:part name="parameters" element="tns:insertPark" />
  </wsdl:message>
  <wsdl:message name="IDGservice_insertPark_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertParkResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getParkId_InputMessage">
    <wsdl:part name="parameters" element="tns:getParkId" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getParkId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getParkIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getHole_InputMessage">
    <wsdl:part name="parameters" element="tns:getHole" />
  </wsdl:message>
  <wsdl:message name="IDGservice_getHole_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHoleResponse" />
  </wsdl:message>
  <wsdl:portType name="IDGservice">
    <wsdl:operation name="getUserID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/getUserID" message="tns:IDGservice_getUserID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/getUserIDResponse" message="tns:IDGservice_getUserID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/insertLocation" message="tns:IDGservice_insertLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/insertLocationResponse" message="tns:IDGservice_insertLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/insertUser" message="tns:IDGservice_insertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/insertUserResponse" message="tns:IDGservice_insertUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/checkUsername" message="tns:IDGservice_checkUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/checkUsernameResponse" message="tns:IDGservice_checkUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/checkLocation" message="tns:IDGservice_checkLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/checkLocationResponse" message="tns:IDGservice_checkLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="returnCstringLists">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/returnCstringLists" message="tns:IDGservice_returnCstringLists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/returnCstringListsResponse" message="tns:IDGservice_returnCstringLists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/insertCourse" message="tns:IDGservice_insertCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/insertCourseResponse" message="tns:IDGservice_insertCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertPark">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/insertPark" message="tns:IDGservice_insertPark_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/insertParkResponse" message="tns:IDGservice_insertPark_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getParkId">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/getParkId" message="tns:IDGservice_getParkId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/getParkIdResponse" message="tns:IDGservice_getParkId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHole">
      <wsdl:input wsaw:Action="http://tempuri.org/IDGservice/getHole" message="tns:IDGservice_getHole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDGservice/getHoleResponse" message="tns:IDGservice_getHole_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDGservice" type="tns:IDGservice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getUserID">
      <soap:operation soapAction="http://tempuri.org/IDGservice/getUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertLocation">
      <soap:operation soapAction="http://tempuri.org/IDGservice/insertLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertUser">
      <soap:operation soapAction="http://tempuri.org/IDGservice/insertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkUsername">
      <soap:operation soapAction="http://tempuri.org/IDGservice/checkUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkLocation">
      <soap:operation soapAction="http://tempuri.org/IDGservice/checkLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="returnCstringLists">
      <soap:operation soapAction="http://tempuri.org/IDGservice/returnCstringLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertCourse">
      <soap:operation soapAction="http://tempuri.org/IDGservice/insertCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertPark">
      <soap:operation soapAction="http://tempuri.org/IDGservice/insertPark" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getParkId">
      <soap:operation soapAction="http://tempuri.org/IDGservice/getParkId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHole">
      <soap:operation soapAction="http://tempuri.org/IDGservice/getHole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DGservice">
    <wsdl:port name="BasicHttpBinding_IDGservice" binding="tns:BasicHttpBinding_IDGservice">
      <soap:address location="http://localhost:54097/DGservice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>